@tailwind base;
@tailwind components;
@tailwind utilities;

.rotateInDownRight{
    animation: rotateInDownRight;
    animation-duration: 2s;
}

.rotateIn{
    animation: rotateIn;
    animation-duration: 4s;
}